.login-form {
    max-width: 340px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#button-login{
 width: 100%;
}
#button-register{
    width: 100%;
    --background: #5260ff;
}

